node_modules
cypress/downloads
cypress/screenshots
cypress/testFolder
cypress/videos
runner-results
multi-reporter-config.json
parallel-weights.json
mochawesome-report
results
snapshots
mochawesome-general.json